.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

body{
	overflow-x: hidden;
}

header{
	width: 100vw;
	top: 0;

}

footer{
	width: 100vw;
	bottom: 0;

}

h3{
	font-family: 'Electrolize', sans-serif;
	margin-left: 6px;

}

p{
	font-family: 'K2D', sans-serif;
	margin-left: 6px;
}

.carousel-container{
	display: flex;
	width: 100%;
	flex-direction: column;
	z-index: 4;
	margin-left: 20.5%;
	margin-top: 2px;
	
}

.carousel-wrapper{
	display: flex;
	width: 100%;
	position: relative;
	z-index: 4,
}
.carousel-content-wrapper{
	overflow: hidden;
	width: 100%;
	height: 100%;
	z-index: 4,
}

.carousel-content{
	display: flex;
	transition: all 250ms linear;
	-ms-overflow-style: none;
	scrollbar-width: none;
	scroll-behavior: 'smooth';
	background-color: #FFFFFF;
	z-index: 4;
	box-shadow: rgba(17, 17, 26, 0.1) 0px 8px 0px;
}
.carousel-content::-webkit-scrollbar, .carousel-content::-webkit-scrollbar{
	display: none;
}
.carousel-content > * {
	width: 100%;
	flex-shrink: 0;
	flex-grow: 1;
	z-index: 4,
}

img{
	width: 800px;
	height: 700px;

}

.piece-details{
	width: 100%;
	display: block;
	z-index: 4;
	box-shadow: rgba(17, 17, 26, 0.1) 0px 8px 0px;
	

}
.details-container{
	display: grid;
	grid-template-columns: 1fr 1fr;
	margin-left: 1px;
	width: 59.25%;
	z-index: 4;
	box-shadow: rgba(0, 0, 0, 0.4) 0px 2px 4px, rgba(0, 0, 0, 0.3) 0px 7px 13px -3px, rgba(0, 0, 0, 0.2) 0px -3px 0px inset;
	

}

.right-btn{
	position: absolute;
	z-index: 2;
	top: 50%;
	transform: translateY(-50%);
	width: 48px;
	height: 48px;
	border-radius: 24px;
	background-color: transparent;
	right: 35%;
	border: none;
	
}

.left-btn{
	position: absolute;
	z-index: 2;
	top: 50%;
	transform: translateY(-50%);
	width: 48px;
	height: 48px;
	border-radius: 24px;
	background-color: transparent;
	border: none;
	left: 24px;

}

.met-left-btn{
	position: absolute;
	z-index: 2;
	top: 50%;
	transform: translateY(-50%);
	width: 48px;
	height: 48px;
	border-radius: 24px;
	background-color: #FFFFFF;
	border: 1px solid #dddddd;
	left: 24px;

}
.met-right-btn{
	position: absolute;
	z-index: 2;
	top: 50%;
	transform: translateY(-50%);
	width: 48px;
	height: 48px;
	border-radius: 24px;
	background-color: #FFFFFF;
	border: 1px solid #dddddd;
	right: 24px;
}

.right-arrow{

}

.left-arrow{

}